$color-m-3-white: rgba(255,255,255,1);
$color-m-3-black: rgba(0,0,0,1);
$color-m-3-sys-light-primary: rgba(103,80,164,1);
$color-m-3-sys-light-on-primary: rgba(255,255,255,1);
$color-m-3-sys-light-primary-container: rgba(234,221,255,1);
$color-m-3-sys-light-on-primary-container: rgba(33,0,93,1);
$color-m-3-sys-light-primary-fixed: rgba(234,221,255,1);
$color-m-3-sys-light-on-primary-fixed: rgba(33,0,93,1);
$color-m-3-sys-light-primary-fixed-dim: rgba(208,188,255,1);
$color-m-3-sys-light-on-primary-fixed-variant: rgba(79,55,139,1);
$color-m-3-sys-light-secondary: rgba(98,91,113,1);
$color-m-3-sys-light-on-secondary: rgba(255,255,255,1);
$color-m-3-sys-light-secondary-container: rgba(232,222,248,1);
$color-m-3-sys-light-on-secondary-container: rgba(29,25,43,1);
$color-m-3-sys-light-secondary-fixed: rgba(232,222,248,1);
$color-m-3-sys-light-on-secondary-fixed: rgba(29,25,43,1);
$color-m-3-sys-light-secondary-fixed-dim: rgba(204,194,220,1);
$color-m-3-sys-light-on-secondary-fixed-variant: rgba(74,68,88,1);
$color-m-3-sys-light-tertiary: rgba(125,82,96,1);
$color-m-3-sys-light-on-tertiary: rgba(255,255,255,1);
$color-m-3-sys-light-tertiary-container: rgba(255,216,228,1);
$color-m-3-sys-light-on-tertiary-container: rgba(49,17,29,1);
$color-m-3-sys-light-tertiary-fixed: rgba(255,216,228,1);
$color-m-3-sys-light-on-tertiary-fixed: rgba(49,17,29,1);
$color-m-3-sys-light-tertiary-fixed-dim: rgba(239,184,200,1);
$color-m-3-sys-light-on-tertiary-fixed-variant: rgba(99,59,72,1);
$color-m-3-sys-light-error: rgba(179,38,30,1);
$color-m-3-sys-light-on-error: rgba(255,255,255,1);
$color-m-3-sys-light-error-container: rgba(249,222,220,1);
$color-m-3-sys-light-on-error-container: rgba(65,14,11,1);
$color-m-3-sys-light-outline: rgba(121,116,126,1);
$color-m-3-sys-light-background: rgba(254,247,255,1);
$color-m-3-sys-light-on-background: rgba(29,27,32,1);
$color-m-3-sys-light-surface: rgba(254,247,255,1);
$color-m-3-sys-light-on-surface: rgba(29,27,32,1);
$color-m-3-sys-light-surface-variant: rgba(231,224,236,1);
$color-m-3-sys-light-on-surface-variant: rgba(73,69,79,1);
$color-m-3-sys-light-inverse-surface: rgba(50,47,53,1);
$color-m-3-sys-light-inverse-on-surface: rgba(245,239,247,1);
$color-m-3-sys-light-inverse-primary: rgba(208,188,255,1);
$color-m-3-sys-light-shadow: rgba(0,0,0,1);
$color-m-3-sys-light-surface-tint: rgba(103,80,164,1);
$color-m-3-sys-light-outline-variant: rgba(202,196,208,1);
$color-m-3-sys-light-scrim: rgba(0,0,0,1);
$color-m-3-sys-light-surface-container-highest: rgba(230,224,233,1);
$color-m-3-sys-light-surface-container-high: rgba(236,230,240,1);
$color-m-3-sys-light-surface-container: rgba(243,237,247,1);
$color-m-3-sys-light-surface-container-low: rgba(247,242,250,1);
$color-m-3-sys-light-surface-container-lowest: rgba(255,255,255,1);
$color-m-3-sys-light-surface-bright: rgba(254,247,255,1);
$color-m-3-sys-light-surface-dim: rgba(222,216,225,1);
$color-m-3-sys-dark-primary: rgba(208,188,255,1);
$color-m-3-sys-dark-on-primary: rgba(56,30,114,1);
$color-m-3-sys-dark-primary-container: rgba(79,55,139,1);
$color-m-3-sys-dark-on-primary-container: rgba(234,221,255,1);
$color-m-3-sys-dark-primary-fixed: rgba(234,221,255,1);
$color-m-3-sys-dark-on-primary-fixed: rgba(33,0,93,1);
$color-m-3-sys-dark-primary-fixed-dim: rgba(208,188,255,1);
$color-m-3-sys-dark-on-primary-fixed-variant: rgba(79,55,139,1);
$color-m-3-sys-dark-secondary: rgba(204,194,220,1);
$color-m-3-sys-dark-on-secondary: rgba(51,45,65,1);
$color-m-3-sys-dark-secondary-container: rgba(74,68,88,1);
$color-m-3-sys-dark-on-secondary-container: rgba(232,222,248,1);
$color-m-3-sys-dark-secondary-fixed: rgba(232,222,248,1);
$color-m-3-sys-dark-on-secondary-fixed: rgba(29,25,43,1);
$color-m-3-sys-dark-secondary-fixed-dim: rgba(204,194,220,1);
$color-m-3-sys-dark-on-secondary-fixed-variant: rgba(74,68,88,1);
$color-m-3-sys-dark-tertiary: rgba(239,184,200,1);
$color-m-3-sys-dark-on-tertiary: rgba(73,37,50,1);
$color-m-3-sys-dark-tertiary-container: rgba(99,59,72,1);
$color-m-3-sys-dark-on-tertiary-container: rgba(255,216,228,1);
$color-m-3-sys-dark-tertiary-fixed: rgba(255,216,228,1);
$color-m-3-sys-dark-on-tertiary-fixed: rgba(49,17,29,1);
$color-m-3-sys-dark-tertiary-fixed-dim: rgba(239,184,200,1);
$color-m-3-sys-dark-on-tertiary-fixed-variant: rgba(99,59,72,1);
$color-m-3-sys-dark-error: rgba(242,184,181,1);
$color-m-3-sys-dark-on-error: rgba(96,20,16,1);
$color-m-3-sys-dark-error-container: rgba(140,29,24,1);
$color-m-3-sys-dark-on-error-container: rgba(249,222,220,1);
$color-m-3-sys-dark-outline: rgba(147,143,153,1);
$color-m-3-sys-dark-background: rgba(20,18,24,1);
$color-m-3-sys-dark-on-background: rgba(230,224,233,1);
$color-m-3-sys-dark-surface: rgba(20,18,24,1);
$color-m-3-sys-dark-on-surface: rgba(230,224,233,1);
$color-m-3-sys-dark-surface-variant: rgba(73,69,79,1);
$color-m-3-sys-dark-on-surface-variant: rgba(202,196,208,1);
$color-m-3-sys-dark-inverse-surface: rgba(230,224,233,1);
$color-m-3-sys-dark-inverse-on-surface: rgba(50,47,53,1);
$color-m-3-sys-dark-inverse-primary: rgba(103,80,164,1);
$color-m-3-sys-dark-shadow: rgba(0,0,0,1);
$color-m-3-sys-dark-surface-tint: rgba(208,188,255,1);
$color-m-3-sys-dark-outline-variant: rgba(73,69,79,1);
$color-m-3-sys-dark-scrim: rgba(0,0,0,1);
$color-m-3-sys-dark-surface-container-highest: rgba(54,52,59,1);
$color-m-3-sys-dark-surface-container-high: rgba(43,41,48,1);
$color-m-3-sys-dark-surface-container: rgba(33,31,38,1);
$color-m-3-sys-dark-surface-container-low: rgba(29,27,32,1);
$color-m-3-sys-dark-surface-container-lowest: rgba(15,13,19,1);
$color-m-3-sys-dark-surface-bright: rgba(59,56,62,1);
$color-m-3-sys-dark-surface-dim: rgba(20,18,24,1);
$color-m-3-ref-primary-primary-0: rgba(0,0,0,1);
$color-m-3-ref-primary-primary-10: rgba(33,0,93,1);
$color-m-3-ref-primary-primary-20: rgba(56,30,114,1);
$color-m-3-ref-primary-primary-30: rgba(79,55,139,1);
$color-m-3-ref-primary-primary-40: rgba(103,80,164,1);
$color-m-3-ref-primary-primary-50: rgba(127,103,190,1);
$color-m-3-ref-primary-primary-60: rgba(154,130,219,1);
$color-m-3-ref-primary-primary-70: rgba(182,157,248,1);
$color-m-3-ref-primary-primary-80: rgba(208,188,255,1);
$color-m-3-ref-primary-primary-90: rgba(234,221,255,1);
$color-m-3-ref-primary-primary-95: rgba(246,237,255,1);
$color-m-3-ref-primary-primary-99: rgba(255,251,254,1);
$color-m-3-ref-primary-primary-100: rgba(255,255,255,1);
$color-m-3-ref-secondary-secondary-0: rgba(0,0,0,1);
$color-m-3-ref-secondary-secondary-10: rgba(29,25,43,1);
$color-m-3-ref-secondary-secondary-20: rgba(51,45,65,1);
$color-m-3-ref-secondary-secondary-30: rgba(74,68,88,1);
$color-m-3-ref-secondary-secondary-40: rgba(98,91,113,1);
$color-m-3-ref-secondary-secondary-50: rgba(122,114,137,1);
$color-m-3-ref-secondary-secondary-60: rgba(149,141,165,1);
$color-m-3-ref-secondary-secondary-70: rgba(176,167,192,1);
$color-m-3-ref-secondary-secondary-80: rgba(204,194,220,1);
$color-m-3-ref-secondary-secondary-90: rgba(232,222,248,1);
$color-m-3-ref-secondary-secondary-95: rgba(246,237,255,1);
$color-m-3-ref-secondary-secondary-99: rgba(255,251,254,1);
$color-m-3-ref-secondary-secondary-100: rgba(255,255,255,1);
$color-m-3-ref-tertiary-tertiary-0: rgba(0,0,0,1);
$color-m-3-ref-tertiary-tertiary-10: rgba(49,17,29,1);
$color-m-3-ref-tertiary-tertiary-20: rgba(73,37,50,1);
$color-m-3-ref-tertiary-tertiary-30: rgba(99,59,72,1);
$color-m-3-ref-tertiary-tertiary-40: rgba(125,82,96,1);
$color-m-3-ref-tertiary-tertiary-50: rgba(152,105,119,1);
$color-m-3-ref-tertiary-tertiary-60: rgba(181,131,146,1);
$color-m-3-ref-tertiary-tertiary-70: rgba(210,157,172,1);
$color-m-3-ref-tertiary-tertiary-80: rgba(239,184,200,1);
$color-m-3-ref-tertiary-tertiary-90: rgba(255,216,228,1);
$color-m-3-ref-tertiary-tertiary-95: rgba(255,236,241,1);
$color-m-3-ref-tertiary-tertiary-99: rgba(255,251,250,1);
$color-m-3-ref-tertiary-tertiary-100: rgba(255,255,255,1);
$color-m-3-ref-error-error-0: rgba(0,0,0,1);
$color-m-3-ref-error-error-10: rgba(65,14,11,1);
$color-m-3-ref-error-error-20: rgba(96,20,16,1);
$color-m-3-ref-error-error-30: rgba(140,29,24,1);
$color-m-3-ref-error-error-40: rgba(179,38,30,1);
$color-m-3-ref-error-error-50: rgba(220,54,46,1);
$color-m-3-ref-error-error-60: rgba(228,105,98,1);
$color-m-3-ref-error-error-70: rgba(236,146,142,1);
$color-m-3-ref-error-error-80: rgba(242,184,181,1);
$color-m-3-ref-error-error-90: rgba(249,222,220,1);
$color-m-3-ref-error-error-95: rgba(252,238,238,1);
$color-m-3-ref-error-error-99: rgba(255,251,249,1);
$color-m-3-ref-error-error-100: rgba(255,255,255,1);
$color-m-3-ref-neutral-neutral-0: rgba(0,0,0,1);
$color-m-3-ref-neutral-neutral-4: rgba(15,13,19,1);
$color-m-3-ref-neutral-neutral-6: rgba(20,18,24,1);
$color-m-3-ref-neutral-neutral-10: rgba(29,27,32,1);
$color-m-3-ref-neutral-neutral-12: rgba(33,31,38,1);
$color-m-3-ref-neutral-neutral-17: rgba(43,41,48,1);
$color-m-3-ref-neutral-neutral-20: rgba(50,47,53,1);
$color-m-3-ref-neutral-neutral-22: rgba(54,52,59,1);
$color-m-3-ref-neutral-neutral-24: rgba(59,56,62,1);
$color-m-3-ref-neutral-neutral-30: rgba(72,70,76,1);
$color-m-3-ref-neutral-neutral-40: rgba(96,93,100,1);
$color-m-3-ref-neutral-neutral-50: rgba(121,118,125,1);
$color-m-3-ref-neutral-neutral-60: rgba(147,143,150,1);
$color-m-3-ref-neutral-neutral-70: rgba(174,169,177,1);
$color-m-3-ref-neutral-neutral-80: rgba(202,197,205,1);
$color-m-3-ref-neutral-neutral-87: rgba(222,216,225,1);
$color-m-3-ref-neutral-neutral-90: rgba(230,224,233,1);
$color-m-3-ref-neutral-neutral-92: rgba(236,230,240,1);
$color-m-3-ref-neutral-neutral-94: rgba(243,237,247,1);
$color-m-3-ref-neutral-neutral-95: rgba(245,239,247,1);
$color-m-3-ref-neutral-neutral-96: rgba(247,242,250,1);
$color-m-3-ref-neutral-neutral-99: rgba(255,251,255,1);
$color-m-3-ref-neutral-neutral-100: rgba(255,255,255,1);
$color-m-3-ref-neutral-variant-neutral-variant-0: rgba(0,0,0,1);
$color-m-3-ref-neutral-variant-neutral-variant-10: rgba(29,26,34,1);
$color-m-3-ref-neutral-variant-neutral-variant-20: rgba(50,47,55,1);
$color-m-3-ref-neutral-variant-neutral-variant-30: rgba(73,69,79,1);
$color-m-3-ref-neutral-variant-neutral-variant-40: rgba(96,93,102,1);
$color-m-3-ref-neutral-variant-neutral-variant-50: rgba(121,116,126,1);
$color-m-3-ref-neutral-variant-neutral-variant-60: rgba(147,143,153,1);
$color-m-3-ref-neutral-variant-neutral-variant-70: rgba(174,169,180,1);
$color-m-3-ref-neutral-variant-neutral-variant-80: rgba(202,196,208,1);
$color-m-3-ref-neutral-variant-neutral-variant-90: rgba(231,224,236,1);
$color-m-3-ref-neutral-variant-neutral-variant-95: rgba(245,238,250,1);
$color-m-3-ref-neutral-variant-neutral-variant-99: rgba(255,251,254,1);
$color-m-3-ref-neutral-variant-neutral-variant-100: rgba(255,255,255,1);
$color-m-3-key-colors-primary: rgba(103,80,164,1);
$color-m-3-source-seed: rgba(103,80,164,1);
$color-m-3-surfaces-light-surface-1: rgba(103,80,164,0.050);
$color-m-3-surfaces-light-surface-2: rgba(103,80,164,0.080);
$color-m-3-surfaces-light-surface-3: rgba(103,80,164,0.110);
$color-m-3-surfaces-light-surface-4: rgba(103,80,164,0.120);
$color-m-3-surfaces-light-surface-5: rgba(103,80,164,0.140);
$color-m-3-surfaces-dark-surface-1: rgba(208,188,255,0.050);
$color-m-3-surfaces-dark-surface-2: rgba(208,188,255,0.080);
$color-m-3-surfaces-dark-surface-3: rgba(208,188,255,0.110);
$color-m-3-surfaces-dark-surface-4: rgba(208,188,255,0.120);
$color-m-3-surfaces-dark-surface-5: rgba(208,188,255,0.140);
$color-m-3-state-layers-light-primary-opacity-0-08: rgba(103,80,164,0.080);
$color-m-3-state-layers-light-primary-opacity-0-12: rgba(103,80,164,0.120);
$color-m-3-state-layers-light-primary-opacity-0-16: rgba(103,80,164,0.160);
$color-m-3-state-layers-light-on-primary-opacity-0-08: rgba(255,255,255,0.080);
$color-m-3-state-layers-light-on-primary-opacity-0-12: rgba(255,255,255,0.120);
$color-m-3-state-layers-light-on-primary-opacity-0-16: rgba(255,255,255,0.160);
$color-m-3-state-layers-light-primary-container-opacity-0-08: rgba(234,221,255,0.080);
$color-m-3-state-layers-light-primary-container-opacity-0-12: rgba(234,221,255,0.120);
$color-m-3-state-layers-light-primary-container-opacity-0-16: rgba(234,221,255,0.160);
$color-m-3-state-layers-light-on-primary-container-opacity-0-08: rgba(33,0,93,0.080);
$color-m-3-state-layers-light-on-primary-container-opacity-0-12: rgba(33,0,93,0.120);
$color-m-3-state-layers-light-on-primary-container-opacity-0-16: rgba(33,0,93,0.160);
$color-m-3-state-layers-light-primary-fixed-opacity-0-08: rgba(234,221,255,0.080);
$color-m-3-state-layers-light-primary-fixed-opacity-0-12: rgba(234,221,255,0.120);
$color-m-3-state-layers-light-primary-fixed-opacity-0-16: rgba(234,221,255,0.160);
$color-m-3-state-layers-light-on-primary-fixed-opacity-0-08: rgba(33,0,93,0.080);
$color-m-3-state-layers-light-on-primary-fixed-opacity-0-12: rgba(33,0,93,0.120);
$color-m-3-state-layers-light-on-primary-fixed-opacity-0-16: rgba(33,0,93,0.160);
$color-m-3-state-layers-light-primary-fixed-dim-opacity-0-08: rgba(208,188,255,0.080);
$color-m-3-state-layers-light-primary-fixed-dim-opacity-0-12: rgba(208,188,255,0.120);
$color-m-3-state-layers-light-primary-fixed-dim-opacity-0-16: rgba(208,188,255,0.160);
$color-m-3-state-layers-light-on-primary-fixed-variant-opacity-0-08: rgba(79,55,139,0.080);
$color-m-3-state-layers-light-on-primary-fixed-variant-opacity-0-12: rgba(79,55,139,0.120);
$color-m-3-state-layers-light-on-primary-fixed-variant-opacity-0-16: rgba(79,55,139,0.160);
$color-m-3-state-layers-light-secondary-opacity-0-08: rgba(98,91,113,0.080);
$color-m-3-state-layers-light-secondary-opacity-0-12: rgba(98,91,113,0.120);
$color-m-3-state-layers-light-secondary-opacity-0-16: rgba(98,91,113,0.160);
$color-m-3-state-layers-light-on-secondary-opacity-0-08: rgba(255,255,255,0.080);
$color-m-3-state-layers-light-on-secondary-opacity-0-12: rgba(255,255,255,0.120);
$color-m-3-state-layers-light-on-secondary-opacity-0-16: rgba(255,255,255,0.160);
$color-m-3-state-layers-light-secondary-container-opacity-0-08: rgba(232,222,248,0.080);
$color-m-3-state-layers-light-secondary-container-opacity-0-12: rgba(232,222,248,0.120);
$color-m-3-state-layers-light-secondary-container-opacity-0-16: rgba(232,222,248,0.160);
$color-m-3-state-layers-light-on-secondary-container-opacity-0-08: rgba(29,25,43,0.080);
$color-m-3-state-layers-light-on-secondary-container-opacity-0-12: rgba(29,25,43,0.120);
$color-m-3-state-layers-light-on-secondary-container-opacity-0-16: rgba(29,25,43,0.160);
$color-m-3-state-layers-light-secondary-fixed-opacity-0-08: rgba(232,222,248,0.080);
$color-m-3-state-layers-light-secondary-fixed-opacity-0-12: rgba(232,222,248,0.120);
$color-m-3-state-layers-light-secondary-fixed-opacity-0-16: rgba(232,222,248,0.160);
$color-m-3-state-layers-light-on-secondary-fixed-opacity-0-08: rgba(29,25,43,0.080);
$color-m-3-state-layers-light-on-secondary-fixed-opacity-0-12: rgba(29,25,43,0.120);
$color-m-3-state-layers-light-on-secondary-fixed-opacity-0-16: rgba(29,25,43,0.160);
$color-m-3-state-layers-light-secondary-fixed-dim-opacity-0-08: rgba(204,194,220,0.080);
$color-m-3-state-layers-light-secondary-fixed-dim-opacity-0-12: rgba(204,194,220,0.120);
$color-m-3-state-layers-light-secondary-fixed-dim-opacity-0-16: rgba(204,194,220,0.160);
$color-m-3-state-layers-light-on-secondary-fixed-variant-opacity-0-08: rgba(74,68,88,0.080);
$color-m-3-state-layers-light-on-secondary-fixed-variant-opacity-0-12: rgba(74,68,88,0.120);
$color-m-3-state-layers-light-on-secondary-fixed-variant-opacity-0-16: rgba(74,68,88,0.160);
$color-m-3-state-layers-light-tertiary-opacity-0-08: rgba(125,82,96,0.080);
$color-m-3-state-layers-light-tertiary-opacity-0-12: rgba(125,82,96,0.120);
$color-m-3-state-layers-light-tertiary-opacity-0-16: rgba(125,82,96,0.160);
$color-m-3-state-layers-light-on-tertiary-opacity-0-08: rgba(255,255,255,0.080);
$color-m-3-state-layers-light-on-tertiary-opacity-0-12: rgba(255,255,255,0.120);
$color-m-3-state-layers-light-on-tertiary-opacity-0-16: rgba(255,255,255,0.160);
$color-m-3-state-layers-light-tertiary-container-opacity-0-08: rgba(255,216,228,0.080);
$color-m-3-state-layers-light-tertiary-container-opacity-0-12: rgba(255,216,228,0.120);
$color-m-3-state-layers-light-tertiary-container-opacity-0-16: rgba(255,216,228,0.160);
$color-m-3-state-layers-light-on-tertiary-container-opacity-0-08: rgba(49,17,29,0.080);
$color-m-3-state-layers-light-on-tertiary-container-opacity-0-12: rgba(49,17,29,0.120);
$color-m-3-state-layers-light-on-tertiary-container-opacity-0-16: rgba(49,17,29,0.160);
$color-m-3-state-layers-light-tertiary-fixed-opacity-0-08: rgba(255,216,228,0.080);
$color-m-3-state-layers-light-tertiary-fixed-opacity-0-12: rgba(255,216,228,0.120);
$color-m-3-state-layers-light-tertiary-fixed-opacity-0-16: rgba(255,216,228,0.160);
$color-m-3-state-layers-light-on-tertiary-fixed-opacity-0-08: rgba(49,17,29,0.080);
$color-m-3-state-layers-light-on-tertiary-fixed-opacity-0-12: rgba(49,17,29,0.120);
$color-m-3-state-layers-light-on-tertiary-fixed-opacity-0-16: rgba(49,17,29,0.160);
$color-m-3-state-layers-light-tertiary-fixed-dim-opacity-0-08: rgba(239,184,200,0.080);
$color-m-3-state-layers-light-tertiary-fixed-dim-opacity-0-12: rgba(239,184,200,0.120);
$color-m-3-state-layers-light-tertiary-fixed-dim-opacity-0-16: rgba(239,184,200,0.160);
$color-m-3-state-layers-light-on-tertiary-fixed-variant-opacity-0-08: rgba(99,59,72,0.080);
$color-m-3-state-layers-light-on-tertiary-fixed-variant-opacity-0-12: rgba(99,59,72,0.120);
$color-m-3-state-layers-light-on-tertiary-fixed-variant-opacity-0-16: rgba(99,59,72,0.160);
$color-m-3-state-layers-light-error-opacity-0-08: rgba(179,38,30,0.080);
$color-m-3-state-layers-light-error-opacity-0-12: rgba(179,38,30,0.120);
$color-m-3-state-layers-light-error-opacity-0-16: rgba(179,38,30,0.160);
$color-m-3-state-layers-light-on-error-opacity-0-08: rgba(255,255,255,0.080);
$color-m-3-state-layers-light-on-error-opacity-0-12: rgba(255,255,255,0.120);
$color-m-3-state-layers-light-on-error-opacity-0-16: rgba(255,255,255,0.160);
$color-m-3-state-layers-light-error-container-opacity-0-08: rgba(249,222,220,0.080);
$color-m-3-state-layers-light-error-container-opacity-0-12: rgba(249,222,220,0.120);
$color-m-3-state-layers-light-error-container-opacity-0-16: rgba(249,222,220,0.160);
$color-m-3-state-layers-light-on-error-container-opacity-0-08: rgba(65,14,11,0.080);
$color-m-3-state-layers-light-on-error-container-opacity-0-12: rgba(65,14,11,0.120);
$color-m-3-state-layers-light-on-error-container-opacity-0-16: rgba(65,14,11,0.160);
$color-m-3-state-layers-light-outline-opacity-0-08: rgba(121,116,126,0.080);
$color-m-3-state-layers-light-outline-opacity-0-12: rgba(121,116,126,0.120);
$color-m-3-state-layers-light-outline-opacity-0-16: rgba(121,116,126,0.160);
$color-m-3-state-layers-light-background-opacity-0-08: rgba(254,247,255,0.080);
$color-m-3-state-layers-light-background-opacity-0-12: rgba(254,247,255,0.120);
$color-m-3-state-layers-light-background-opacity-0-16: rgba(254,247,255,0.160);
$color-m-3-state-layers-light-on-background-opacity-0-08: rgba(29,27,32,0.080);
$color-m-3-state-layers-light-on-background-opacity-0-12: rgba(29,27,32,0.120);
$color-m-3-state-layers-light-on-background-opacity-0-16: rgba(29,27,32,0.160);
$color-m-3-state-layers-light-surface-opacity-0-08: rgba(254,247,255,0.080);
$color-m-3-state-layers-light-surface-opacity-0-12: rgba(254,247,255,0.120);
$color-m-3-state-layers-light-surface-opacity-0-16: rgba(254,247,255,0.160);
$color-m-3-state-layers-light-on-surface-opacity-0-08: rgba(29,27,32,0.080);
$color-m-3-state-layers-light-on-surface-opacity-0-12: rgba(29,27,32,0.120);
$color-m-3-state-layers-light-on-surface-opacity-0-16: rgba(29,27,32,0.160);
$color-m-3-state-layers-light-surface-variant-opacity-0-08: rgba(231,224,236,0.080);
$color-m-3-state-layers-light-surface-variant-opacity-0-12: rgba(231,224,236,0.120);
$color-m-3-state-layers-light-surface-variant-opacity-0-16: rgba(231,224,236,0.160);
$color-m-3-state-layers-light-on-surface-variant-opacity-0-08: rgba(73,69,79,0.080);
$color-m-3-state-layers-light-on-surface-variant-opacity-0-12: rgba(73,69,79,0.120);
$color-m-3-state-layers-light-on-surface-variant-opacity-0-16: rgba(73,69,79,0.160);
$color-m-3-state-layers-light-inverse-surface-opacity-0-08: rgba(50,47,53,0.080);
$color-m-3-state-layers-light-inverse-surface-opacity-0-12: rgba(50,47,53,0.120);
$color-m-3-state-layers-light-inverse-surface-opacity-0-16: rgba(50,47,53,0.160);
$color-m-3-state-layers-light-inverse-on-surface-opacity-0-08: rgba(245,239,247,0.080);
$color-m-3-state-layers-light-inverse-on-surface-opacity-0-12: rgba(245,239,247,0.120);
$color-m-3-state-layers-light-inverse-on-surface-opacity-0-16: rgba(245,239,247,0.160);
$color-m-3-state-layers-light-inverse-primary-opacity-0-08: rgba(208,188,255,0.080);
$color-m-3-state-layers-light-inverse-primary-opacity-0-12: rgba(208,188,255,0.120);
$color-m-3-state-layers-light-inverse-primary-opacity-0-16: rgba(208,188,255,0.160);
$color-m-3-state-layers-light-shadow-opacity-0-08: rgba(0,0,0,0.080);
$color-m-3-state-layers-light-shadow-opacity-0-12: rgba(0,0,0,0.120);
$color-m-3-state-layers-light-shadow-opacity-0-16: rgba(0,0,0,0.160);
$color-m-3-state-layers-light-surface-tint-opacity-0-08: rgba(103,80,164,0.080);
$color-m-3-state-layers-light-surface-tint-opacity-0-12: rgba(103,80,164,0.120);
$color-m-3-state-layers-light-surface-tint-opacity-0-16: rgba(103,80,164,0.160);
$color-m-3-state-layers-light-outline-variant-opacity-0-08: rgba(202,196,208,0.080);
$color-m-3-state-layers-light-outline-variant-opacity-0-12: rgba(202,196,208,0.120);
$color-m-3-state-layers-light-outline-variant-opacity-0-16: rgba(202,196,208,0.160);
$color-m-3-state-layers-light-scrim-opacity-0-08: rgba(0,0,0,0.080);
$color-m-3-state-layers-light-scrim-opacity-0-12: rgba(0,0,0,0.120);
$color-m-3-state-layers-light-scrim-opacity-0-16: rgba(0,0,0,0.160);
$color-m-3-state-layers-light-surface-container-highest-opacity-0-08: rgba(230,224,233,0.080);
$color-m-3-state-layers-light-surface-container-highest-opacity-0-12: rgba(230,224,233,0.120);
$color-m-3-state-layers-light-surface-container-highest-opacity-0-16: rgba(230,224,233,0.160);
$color-m-3-state-layers-light-surface-container-high-opacity-0-08: rgba(236,230,240,0.080);
$color-m-3-state-layers-light-surface-container-high-opacity-0-12: rgba(236,230,240,0.120);
$color-m-3-state-layers-light-surface-container-high-opacity-0-16: rgba(236,230,240,0.160);
$color-m-3-state-layers-light-surface-container-opacity-0-08: rgba(243,237,247,0.080);
$color-m-3-state-layers-light-surface-container-opacity-0-12: rgba(243,237,247,0.120);
$color-m-3-state-layers-light-surface-container-opacity-0-16: rgba(243,237,247,0.160);
$color-m-3-state-layers-light-surface-container-low-opacity-0-08: rgba(247,242,250,0.080);
$color-m-3-state-layers-light-surface-container-low-opacity-0-12: rgba(247,242,250,0.120);
$color-m-3-state-layers-light-surface-container-low-opacity-0-16: rgba(247,242,250,0.160);
$color-m-3-state-layers-light-surface-container-lowest-opacity-0-08: rgba(255,255,255,0.080);
$color-m-3-state-layers-light-surface-container-lowest-opacity-0-12: rgba(255,255,255,0.120);
$color-m-3-state-layers-light-surface-container-lowest-opacity-0-16: rgba(255,255,255,0.160);
$color-m-3-state-layers-light-surface-bright-opacity-0-08: rgba(254,247,255,0.080);
$color-m-3-state-layers-light-surface-bright-opacity-0-12: rgba(254,247,255,0.120);
$color-m-3-state-layers-light-surface-bright-opacity-0-16: rgba(254,247,255,0.160);
$color-m-3-state-layers-light-surface-dim-opacity-0-08: rgba(222,216,225,0.080);
$color-m-3-state-layers-light-surface-dim-opacity-0-12: rgba(222,216,225,0.120);
$color-m-3-state-layers-light-surface-dim-opacity-0-16: rgba(222,216,225,0.160);
$color-m-3-state-layers-dark-primary-opacity-0-08: rgba(208,188,255,0.080);
$color-m-3-state-layers-dark-primary-opacity-0-12: rgba(208,188,255,0.120);
$color-m-3-state-layers-dark-primary-opacity-0-16: rgba(208,188,255,0.160);
$color-m-3-state-layers-dark-on-primary-opacity-0-08: rgba(56,30,114,0.080);
$color-m-3-state-layers-dark-on-primary-opacity-0-12: rgba(56,30,114,0.120);
$color-m-3-state-layers-dark-on-primary-opacity-0-16: rgba(56,30,114,0.160);
$color-m-3-state-layers-dark-primary-container-opacity-0-08: rgba(79,55,139,0.080);
$color-m-3-state-layers-dark-primary-container-opacity-0-12: rgba(79,55,139,0.120);
$color-m-3-state-layers-dark-primary-container-opacity-0-16: rgba(79,55,139,0.160);
$color-m-3-state-layers-dark-on-primary-container-opacity-0-08: rgba(234,221,255,0.080);
$color-m-3-state-layers-dark-on-primary-container-opacity-0-12: rgba(234,221,255,0.120);
$color-m-3-state-layers-dark-on-primary-container-opacity-0-16: rgba(234,221,255,0.160);
$color-m-3-state-layers-dark-primary-fixed-opacity-0-08: rgba(234,221,255,0.080);
$color-m-3-state-layers-dark-primary-fixed-opacity-0-12: rgba(234,221,255,0.120);
$color-m-3-state-layers-dark-primary-fixed-opacity-0-16: rgba(234,221,255,0.160);
$color-m-3-state-layers-dark-on-primary-fixed-opacity-0-08: rgba(33,0,93,0.080);
$color-m-3-state-layers-dark-on-primary-fixed-opacity-0-12: rgba(33,0,93,0.120);
$color-m-3-state-layers-dark-on-primary-fixed-opacity-0-16: rgba(33,0,93,0.160);
$color-m-3-state-layers-dark-primary-fixed-dim-opacity-0-08: rgba(208,188,255,0.080);
$color-m-3-state-layers-dark-primary-fixed-dim-opacity-0-12: rgba(208,188,255,0.120);
$color-m-3-state-layers-dark-primary-fixed-dim-opacity-0-16: rgba(208,188,255,0.160);
$color-m-3-state-layers-dark-on-primary-fixed-variant-opacity-0-08: rgba(79,55,139,0.080);
$color-m-3-state-layers-dark-on-primary-fixed-variant-opacity-0-12: rgba(79,55,139,0.120);
$color-m-3-state-layers-dark-on-primary-fixed-variant-opacity-0-16: rgba(79,55,139,0.160);
$color-m-3-state-layers-dark-secondary-opacity-0-08: rgba(204,194,220,0.080);
$color-m-3-state-layers-dark-secondary-opacity-0-12: rgba(204,194,220,0.120);
$color-m-3-state-layers-dark-secondary-opacity-0-16: rgba(204,194,220,0.160);
$color-m-3-state-layers-dark-on-secondary-opacity-0-08: rgba(51,45,65,0.080);
$color-m-3-state-layers-dark-on-secondary-opacity-0-12: rgba(51,45,65,0.120);
$color-m-3-state-layers-dark-on-secondary-opacity-0-16: rgba(51,45,65,0.160);
$color-m-3-state-layers-dark-secondary-container-opacity-0-08: rgba(74,68,88,0.080);
$color-m-3-state-layers-dark-secondary-container-opacity-0-12: rgba(74,68,88,0.120);
$color-m-3-state-layers-dark-secondary-container-opacity-0-16: rgba(74,68,88,0.160);
$color-m-3-state-layers-dark-on-secondary-container-opacity-0-08: rgba(232,222,248,0.080);
$color-m-3-state-layers-dark-on-secondary-container-opacity-0-12: rgba(232,222,248,0.120);
$color-m-3-state-layers-dark-on-secondary-container-opacity-0-16: rgba(232,222,248,0.160);
$color-m-3-state-layers-dark-secondary-fixed-opacity-0-08: rgba(232,222,248,0.080);
$color-m-3-state-layers-dark-secondary-fixed-opacity-0-12: rgba(232,222,248,0.120);
$color-m-3-state-layers-dark-secondary-fixed-opacity-0-16: rgba(232,222,248,0.160);
$color-m-3-state-layers-dark-on-secondary-fixed-opacity-0-08: rgba(29,25,43,0.080);
$color-m-3-state-layers-dark-on-secondary-fixed-opacity-0-12: rgba(29,25,43,0.120);
$color-m-3-state-layers-dark-on-secondary-fixed-opacity-0-16: rgba(29,25,43,0.160);
$color-m-3-state-layers-dark-secondary-fixed-dim-opacity-0-08: rgba(204,194,220,0.080);
$color-m-3-state-layers-dark-secondary-fixed-dim-opacity-0-12: rgba(204,194,220,0.120);
$color-m-3-state-layers-dark-secondary-fixed-dim-opacity-0-16: rgba(204,194,220,0.160);
$color-m-3-state-layers-dark-on-secondary-fixed-variant-opacity-0-08: rgba(74,68,88,0.080);
$color-m-3-state-layers-dark-on-secondary-fixed-variant-opacity-0-12: rgba(74,68,88,0.120);
$color-m-3-state-layers-dark-on-secondary-fixed-variant-opacity-0-16: rgba(74,68,88,0.160);
$color-m-3-state-layers-dark-tertiary-opacity-0-08: rgba(239,184,200,0.080);
$color-m-3-state-layers-dark-tertiary-opacity-0-12: rgba(239,184,200,0.120);
$color-m-3-state-layers-dark-tertiary-opacity-0-16: rgba(239,184,200,0.160);
$color-m-3-state-layers-dark-on-tertiary-opacity-0-08: rgba(73,37,50,0.080);
$color-m-3-state-layers-dark-on-tertiary-opacity-0-12: rgba(73,37,50,0.120);
$color-m-3-state-layers-dark-on-tertiary-opacity-0-16: rgba(73,37,50,0.160);
$color-m-3-state-layers-dark-tertiary-container-opacity-0-08: rgba(99,59,72,0.080);
$color-m-3-state-layers-dark-tertiary-container-opacity-0-12: rgba(99,59,72,0.120);
$color-m-3-state-layers-dark-tertiary-container-opacity-0-16: rgba(99,59,72,0.160);
$color-m-3-state-layers-dark-on-tertiary-container-opacity-0-08: rgba(255,216,228,0.080);
$color-m-3-state-layers-dark-on-tertiary-container-opacity-0-12: rgba(255,216,228,0.120);
$color-m-3-state-layers-dark-on-tertiary-container-opacity-0-16: rgba(255,216,228,0.160);
$color-m-3-state-layers-dark-tertiary-fixed-opacity-0-08: rgba(255,216,228,0.080);
$color-m-3-state-layers-dark-tertiary-fixed-opacity-0-12: rgba(255,216,228,0.120);
$color-m-3-state-layers-dark-tertiary-fixed-opacity-0-16: rgba(255,216,228,0.160);
$color-m-3-state-layers-dark-on-tertiary-fixed-opacity-0-08: rgba(49,17,29,0.080);
$color-m-3-state-layers-dark-on-tertiary-fixed-opacity-0-12: rgba(49,17,29,0.120);
$color-m-3-state-layers-dark-on-tertiary-fixed-opacity-0-16: rgba(49,17,29,0.160);
$color-m-3-state-layers-dark-tertiary-fixed-dim-opacity-0-08: rgba(239,184,200,0.080);
$color-m-3-state-layers-dark-tertiary-fixed-dim-opacity-0-12: rgba(239,184,200,0.120);
$color-m-3-state-layers-dark-tertiary-fixed-dim-opacity-0-16: rgba(239,184,200,0.160);
$color-m-3-state-layers-dark-on-tertiary-fixed-variant-opacity-0-08: rgba(99,59,72,0.080);
$color-m-3-state-layers-dark-on-tertiary-fixed-variant-opacity-0-12: rgba(99,59,72,0.120);
$color-m-3-state-layers-dark-on-tertiary-fixed-variant-opacity-0-16: rgba(99,59,72,0.160);
$color-m-3-state-layers-dark-error-opacity-0-08: rgba(242,184,181,0.080);
$color-m-3-state-layers-dark-error-opacity-0-12: rgba(242,184,181,0.120);
$color-m-3-state-layers-dark-error-opacity-0-16: rgba(242,184,181,0.160);
$color-m-3-state-layers-dark-on-error-opacity-0-08: rgba(96,20,16,0.080);
$color-m-3-state-layers-dark-on-error-opacity-0-12: rgba(96,20,16,0.120);
$color-m-3-state-layers-dark-on-error-opacity-0-16: rgba(96,20,16,0.160);
$color-m-3-state-layers-dark-error-container-opacity-0-08: rgba(140,29,24,0.080);
$color-m-3-state-layers-dark-error-container-opacity-0-12: rgba(140,29,24,0.120);
$color-m-3-state-layers-dark-error-container-opacity-0-16: rgba(140,29,24,0.160);
$color-m-3-state-layers-dark-on-error-container-opacity-0-08: rgba(249,222,220,0.080);
$color-m-3-state-layers-dark-on-error-container-opacity-0-12: rgba(249,222,220,0.120);
$color-m-3-state-layers-dark-on-error-container-opacity-0-16: rgba(249,222,220,0.160);
$color-m-3-state-layers-dark-outline-opacity-0-08: rgba(147,143,153,0.080);
$color-m-3-state-layers-dark-outline-opacity-0-12: rgba(147,143,153,0.120);
$color-m-3-state-layers-dark-outline-opacity-0-16: rgba(147,143,153,0.160);
$color-m-3-state-layers-dark-background-opacity-0-08: rgba(20,18,24,0.080);
$color-m-3-state-layers-dark-background-opacity-0-12: rgba(20,18,24,0.120);
$color-m-3-state-layers-dark-background-opacity-0-16: rgba(20,18,24,0.160);
$color-m-3-state-layers-dark-on-background-opacity-0-08: rgba(230,224,233,0.080);
$color-m-3-state-layers-dark-on-background-opacity-0-12: rgba(230,224,233,0.120);
$color-m-3-state-layers-dark-on-background-opacity-0-16: rgba(230,224,233,0.160);
$color-m-3-state-layers-dark-surface-opacity-0-08: rgba(20,18,24,0.080);
$color-m-3-state-layers-dark-surface-opacity-0-12: rgba(20,18,24,0.120);
$color-m-3-state-layers-dark-surface-opacity-0-16: rgba(20,18,24,0.160);
$color-m-3-state-layers-dark-on-surface-opacity-0-08: rgba(230,224,233,0.080);
$color-m-3-state-layers-dark-on-surface-opacity-0-12: rgba(230,224,233,0.120);
$color-m-3-state-layers-dark-on-surface-opacity-0-16: rgba(230,224,233,0.160);
$color-m-3-state-layers-dark-surface-variant-opacity-0-08: rgba(73,69,79,0.080);
$color-m-3-state-layers-dark-surface-variant-opacity-0-12: rgba(73,69,79,0.120);
$color-m-3-state-layers-dark-surface-variant-opacity-0-16: rgba(73,69,79,0.160);
$color-m-3-state-layers-dark-on-surface-variant-opacity-0-08: rgba(202,196,208,0.080);
$color-m-3-state-layers-dark-on-surface-variant-opacity-0-12: rgba(202,196,208,0.120);
$color-m-3-state-layers-dark-on-surface-variant-opacity-0-16: rgba(202,196,208,0.160);
$color-m-3-state-layers-dark-inverse-surface-opacity-0-08: rgba(230,224,233,0.080);
$color-m-3-state-layers-dark-inverse-surface-opacity-0-12: rgba(230,224,233,0.120);
$color-m-3-state-layers-dark-inverse-surface-opacity-0-16: rgba(230,224,233,0.160);
$color-m-3-state-layers-dark-inverse-on-surface-opacity-0-08: rgba(50,47,53,0.080);
$color-m-3-state-layers-dark-inverse-on-surface-opacity-0-12: rgba(50,47,53,0.120);
$color-m-3-state-layers-dark-inverse-on-surface-opacity-0-16: rgba(50,47,53,0.160);
$color-m-3-state-layers-dark-inverse-primary-opacity-0-08: rgba(103,80,164,0.080);
$color-m-3-state-layers-dark-inverse-primary-opacity-0-12: rgba(103,80,164,0.120);
$color-m-3-state-layers-dark-inverse-primary-opacity-0-16: rgba(103,80,164,0.160);
$color-m-3-state-layers-dark-shadow-opacity-0-08: rgba(0,0,0,0.080);
$color-m-3-state-layers-dark-shadow-opacity-0-12: rgba(0,0,0,0.120);
$color-m-3-state-layers-dark-shadow-opacity-0-16: rgba(0,0,0,0.160);
$color-m-3-state-layers-dark-surface-tint-opacity-0-08: rgba(208,188,255,0.080);
$color-m-3-state-layers-dark-surface-tint-opacity-0-12: rgba(208,188,255,0.120);
$color-m-3-state-layers-dark-surface-tint-opacity-0-16: rgba(208,188,255,0.160);
$color-m-3-state-layers-dark-outline-variant-opacity-0-08: rgba(73,69,79,0.080);
$color-m-3-state-layers-dark-outline-variant-opacity-0-12: rgba(73,69,79,0.120);
$color-m-3-state-layers-dark-outline-variant-opacity-0-16: rgba(73,69,79,0.160);
$color-m-3-state-layers-dark-scrim-opacity-0-08: rgba(0,0,0,0.080);
$color-m-3-state-layers-dark-scrim-opacity-0-12: rgba(0,0,0,0.120);
$color-m-3-state-layers-dark-scrim-opacity-0-16: rgba(0,0,0,0.160);
$color-m-3-state-layers-dark-surface-container-highest-opacity-0-08: rgba(54,52,59,0.080);
$color-m-3-state-layers-dark-surface-container-highest-opacity-0-12: rgba(54,52,59,0.120);
$color-m-3-state-layers-dark-surface-container-highest-opacity-0-16: rgba(54,52,59,0.160);
$color-m-3-state-layers-dark-surface-container-high-opacity-0-08: rgba(43,41,48,0.080);
$color-m-3-state-layers-dark-surface-container-high-opacity-0-12: rgba(43,41,48,0.120);
$color-m-3-state-layers-dark-surface-container-high-opacity-0-16: rgba(43,41,48,0.160);
$color-m-3-state-layers-dark-surface-container-opacity-0-08: rgba(33,31,38,0.080);
$color-m-3-state-layers-dark-surface-container-opacity-0-12: rgba(33,31,38,0.120);
$color-m-3-state-layers-dark-surface-container-opacity-0-16: rgba(33,31,38,0.160);
$color-m-3-state-layers-dark-surface-container-low-opacity-0-08: rgba(29,27,32,0.080);
$color-m-3-state-layers-dark-surface-container-low-opacity-0-12: rgba(29,27,32,0.120);
$color-m-3-state-layers-dark-surface-container-low-opacity-0-16: rgba(29,27,32,0.160);
$color-m-3-state-layers-dark-surface-container-lowest-opacity-0-08: rgba(15,13,19,0.080);
$color-m-3-state-layers-dark-surface-container-lowest-opacity-0-12: rgba(15,13,19,0.120);
$color-m-3-state-layers-dark-surface-container-lowest-opacity-0-16: rgba(15,13,19,0.160);
$color-m-3-state-layers-dark-surface-bright-opacity-0-08: rgba(59,56,62,0.080);
$color-m-3-state-layers-dark-surface-bright-opacity-0-12: rgba(59,56,62,0.120);
$color-m-3-state-layers-dark-surface-bright-opacity-0-16: rgba(59,56,62,0.160);
$color-m-3-state-layers-dark-surface-dim-opacity-0-08: rgba(20,18,24,0.080);
$color-m-3-state-layers-dark-surface-dim-opacity-0-12: rgba(20,18,24,0.120);
$color-m-3-state-layers-dark-surface-dim-opacity-0-16: rgba(20,18,24,0.160);
@mixin text-style-m-3-display-large() {
	font-size: 57px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 64px;
	letter-spacing: -0.25px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-display-medium() {
	font-size: 45px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 52px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-display-small() {
	font-size: 36px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 44px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-headline-large() {
	font-size: 32px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 40px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-headline-medium() {
	font-size: 28px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 36px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-headline-small() {
	font-size: 24px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 32px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-title-large() {
	font-size: 22px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 28px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-title-medium() {
	font-size: 16px;
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-title-small() {
	font-size: 14px;
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-body-large() {
	font-size: 16px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-body-medium() {
	font-size: 14px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	letter-spacing: 0.25px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-body-small() {
	font-size: 12px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-label-large-prominent() {
	font-size: 14px;
	font-family: Roboto;
	font-weight: 600;
	font-style: normal;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-label-large() {
	font-size: 14px;
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-label-medium-prominent() {
	font-size: 12px;
	font-family: Roboto;
	font-weight: 600;
	font-style: normal;
	line-height: 16px;
	letter-spacing: 0.5px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-label-medium() {
	font-size: 12px;
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	line-height: 16px;
	letter-spacing: 0.5px;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-m-3-label-small() {
	font-size: 11px;
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	line-height: 16px;
	letter-spacing: 0.5px;
	text-decoration: none;
	text-transform: none;
}
@mixin effect-style-m-3-elevation-light-1() {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.300), 0px 1px 3px 1px rgba(0,0,0,0.150);
}
@mixin effect-style-m-3-elevation-light-2() {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.300), 0px 2px 6px 2px rgba(0,0,0,0.150);
}
@mixin effect-style-m-3-elevation-light-3() {
	box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.150), 0px 1px 3px rgba(0,0,0,0.300);
}
@mixin effect-style-m-3-elevation-light-4() {
	box-shadow: 0px 6px 10px 4px rgba(0,0,0,0.150), 0px 2px 3px rgba(0,0,0,0.300);
}
@mixin effect-style-m-3-elevation-light-5() {
	box-shadow: 0px 8px 12px 6px rgba(0,0,0,0.150), 0px 4px 4px rgba(0,0,0,0.300);
}
@mixin effect-style-m-3-elevation-dark-1() {
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.150), 0px 1px 2px rgba(0,0,0,0.300);
}
@mixin effect-style-m-3-elevation-dark-2() {
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.150), 0px 1px 2px rgba(0,0,0,0.300);
}
@mixin effect-style-m-3-elevation-dark-3() {
	box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.150), 0px 1px 3px rgba(0,0,0,0.300);
}
@mixin effect-style-m-3-elevation-dark-4() {
	box-shadow: 0px 6px 10px 4px rgba(0,0,0,0.150), 0px 2px 3px rgba(0,0,0,0.300);
}
@mixin effect-style-m-3-elevation-dark-5() {
	box-shadow: 0px 8px 12px 6px rgba(0,0,0,0.150), 0px 4px 4px rgba(0,0,0,0.300);
}