@import "../figma-plugin-ui-css-0.5/css/scss/main.scss";
body {
  padding: 0;
  margin: 0;
}
.container {
  user-select: none;
  padding: 10px;
  background: white;
}

.list-container {
  float: right;
}

.button-container {
  float: left;
}

#download,
#copy {
  color: #18a0fb !important;
  border-color: #18a0fb !important;
}
textarea.textarea {
  display: none;
  margin: 10px 0;
  overflow: auto;
  overflow-y: none;
  width: 100%;
}

pre[class*="language-"] {
  user-select: text;
  overflow: auto;
  overflow-x: hidden !important;
  width: 100%;
  height: 190px;
  background: white !important;
  padding: 0 !important;
}

.clear {
  clear: both;
}

i {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.svg-container {
  display: inline-block;
  background: #eee;
}

pre::-webkit-scrollbar {
  width: 5px;
}

pre::-webkit-scrollbar-track {
  background-color: #eee;
}

pre::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
