@import "../figma-plugin-ui-css-0.5/css/scss/main.scss";

body {
  padding: 0;
  margin: 0;
}

.__ {
  height: 100%;
  display: grid;
  grid-template-rows: min-content minmax(300px, 1fr) 62px;

  overflow: hidden;
  user-select: none;

  background: var(--figma-color-bg);
  color: var(--figma-color-text);
}

.__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: $small;
  border-bottom: 1px solid $figma-silver;

  overflow-y: auto;
}

.__output {
  overflow-x: hidden;
  overflow-y: scroll;

  height: 100% !important;
  font-size: 12px;
  > code[class*="language-"] {
    text-shadow: none !important;
  }
  > pre[class*="language-"] {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: $medium !important;
    overflow: inherit !important;
    
    background: var(--figma-color-bg) !important;
    user-select: text;
  }
}

.__toolbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $medium;
  border-top: 1px solid $figma-silver;
  &__buttons {
    button:first-child {
      margin-right: 10px;
    }
  }
}

.__input-wrapper {
  display: flex;
  align-items: center;
  > * {
    width: 50% !important;
  }
  .__select {
    margin-right: $medium;
  }
}

.__section-title {
  @extend .section-title;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}

.__label {
  @extend .label;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}

.__select {
  @extend .select-menu;
  @extend .select-menu__button;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}

.__button {
  @extend .button;
}

.__button--primary {
  @extend .button--primary;
  background-color: var(--figma-color-bg-brand);
}

.__button--secondary {
  @extend .button--secondary;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  border-color: var(--figma-color-text);
}

.__textarea {
  display: none;
  margin: 10px 0;
  overflow: auto;
  width: 100%;
}

i {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.svg-container {
  display: inline-block;
  background: #eee;
}

pre::-webkit-scrollbar {
  width: 5px;
}

pre::-webkit-scrollbar-track {
  background-color: #eee;
}

pre::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.__auto-width {
  width: auto !important;
}

.center {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.figma-dark body {
  /**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

  code[class*="language-"],
  pre[class*="language-"] {
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #2d2d2d;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }

  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }

  .token.punctuation {
    color: #ccc;
  }

  .token.tag,
  .token.attr-name,
  .token.namespace,
  .token.deleted {
    color: #e2777a;
  }

  .token.function-name {
    color: #6196cc;
  }

  .token.boolean,
  .token.number,
  .token.function {
    color: #f08d49;
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #f8c555;
    text-shadow: none;
  }

  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #cc99cd;
  }

  .token.string,
  .token.char,
  .token.attr-value,
  .token.regex,
  .token.variable {
    color: #7ec699;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #67cdcc;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.inserted {
    color: green;
  }
}
